---
http_interactions:
- request:
    method: post
    uri: http://api.codecube.io/sync-run/
    body:
      encoding: UTF-8
      string: '{"code":"puts 1","language":"ruby"}'
    headers:
      Authorization:
      - valid-api-key
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Quota-Remaining:
      - '999'
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"output":[{"type":"output","body":"1","stream":"stdout"}],"timed_out":false,"duration_ms":156}
  recorded_at: Wed, 16 Jul 2014 22:43:54 GMT
recorded_with: VCR 2.9.2
